#turnbar {
    background-color: grey;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}
#turnbar > tr {
    background-color: white;
}

#option {
    background-color: grey;
    width: 100%;
}
#option > tr,td {
    background-color: white;
  }
#banner{
    text-align: center;
    color: yellow;
}
#monsters{
    font-size: 10em;
    text-align: center
}
#monsterStats {
    background-color: black;
    width: auto;
    font-size: 1em;
    text-align: center;
    position: relative;
    margin-left:auto;
    margin-right:auto;

}
#monsterStats > tr{
    background-color: white;
    text-align: center
}
#monsterStats > td{
    background-color: white;
    text-align: center;
}
#controls {
    text-align: center;
    bottom: auto
}

#heroStats {
    background-color: black;
    width: 100%;
    font-size: 1.5em;
}

#heroStats > tr {
    background-color: white;
    text-align: left;
}

#heroStats > th {
    background-color: white;
    text-align: left;
    padding: 15%;
}


#heroStats > td {
    background-color: white;
}
#heroIcons {
    font-size: 10em;
    text-align: center;
}

.pointer {cursor: pointer;}