#body {
    background-color: gray;
}

#navbar {
    background-color: purple;
}

#mainpanel {
    position: absolute;
    top: 20%;
    right: 20%;
    left: 20%;
    background-color: goldenrod;
}

#content {
    background-color: goldenrod;
    margin-left: 10%;
    margin-right: 10%;
}