#body {
    background-color: antiquewhite;
}

#navbar {
    background-color: purple;
}

#mainpanel {
    position: absolute;
    top: 20%;
    right: 20%;
    left: 20%;
}

#content {
    background-color: aqua;
    margin-left: 10%;
    margin-right: 10%;
}